/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@500&display=swap");

$primary: #673ab7;
$secound: #000000;

* {
  font-family: "Anuphan", sans-serif;
  //   height: 100vh;
}

.c-primary {
  color: $primary !important;
}

.c-secound {
  color: $secound !important;
}
