<div class="row m-0 p-2">
  <div class="col-12 my-3 mb-1">
    <h1>ร้านค้า พลังแรด</h1>
    <p class="m-0 p-0">เปิดตั้งแต่ 2022-ปัจจุบัน (1 ปี 7 วัน)</p>
    <p class="m-0 p-0 c-primary">
      ยอดขายรวม : <span class="c-secound">15,000,000.00 บาท</span>
    </p>
    <p class="m-0 p-0 c-primary">
      กำไรทั้งหมด : <span class="c-secound">1,000,000.00 บาท</span>
    </p>
    <p class="m-0 p-0 c-primary">
      จำนวนเงินที่จ่ายไป : <span class="c-secound">15,000,000.00 บาท</span>
    </p>
  </div>

  <div class="col-12 my-2">
    <button mat-raised-button color="primary">เพิ่มข้อมูล</button>
  </div>

  <div class="col-12 col-sm-6 m-0 p-0">
    <div class="card m-1 p-2 mb-1">
      <h4>สถานะปัจจุบัน</h4>
      <small class="text-muted"
        >ข้อมูลตั้งแต่วันที่ 16 เมษายน 2565 - 30 เมษายน 2565</small
      >
      <br />
      <h1 color="primary">
        กำไรเพิ่มขึ้น <span class="text-success">70 %</span>
      </h1>
    </div>
    <div class="card m-1 p-2 mb-1">
      <h4>ขาดทุน</h4>
      <h1>35.k / บาท</h1>
    </div>
  </div>
  <div class="col-12 col-sm-6 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-sm-4 col-12 m-0 p-0">
        <div class="card m-1 p-2 mb-1">
          <h4>ต้นทุนสินค้า</h4>
          <h6>35.k / บาท</h6>
        </div>
      </div>
      <div class="col-sm-4 col-12 m-0 p-0">
        <div class="card m-1 p-2 mb-1  bg-primary text-white">
          <h4>ค่าจัดส่ง</h4>
          <h6>35.k / บาท</h6>
        </div>
      </div>
      <div class="col-sm-4 col-12 m-0 p-0">
        <div class="card m-1 p-2 mb-1">
          <h4>ค่าโฆษณา</h4>
          <h6>35.k / บาท</h6>
        </div>
      </div>
      <div class="row my-2 m-0 p-0">
        <div class="col-sm-6 col-12 m-0 p-0">
          <div class="card m-1 p-2 mb-1">
            <h4>เก็บเงินปลายทาง</h4>
            <h6>35.k / บาท</h6>
          </div>
        </div>
        <div class="col-sm-6 col-12 m-0 p-0">
          <div class="card m-1 p-2 mb-1">
            <h4>คงค้าง</h4>
            <h6>35.k / บาท</h6>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-12 m-0 p-0">
        <div class="card m-1 p-3 mb-1">
          <h4>จำนวนเงินในบัญชี</h4>
          <h6>35.k / บาท</h6>
        </div>
      </div>
    </div>
  </div>
</div>
