<div class="row m-0 p-2 shadow-sm">
  <div class="col-12 my-2">
    <button mat-raised-button routerLink="/">กลับไป</button>
  </div>
  <div class="col-12 my-4">
    <h1 class="fw-bold">
      ร้านค้า <span class="text-primary">เพื่อสุขภาพชีวิตที่ดี</span>
    </h1>
    <p class="m-0 p-0">เปิดตั้งแต่ 2022-ปัจจุบัน (1 ปี 7 วัน)</p>
  </div>
  <div class="col-12 m-0  py-3">
    <p class="m-0 pb-2 text-muted">ค้นหาข้อมูลตามวันที่</p>
    <app-datepicker></app-datepicker>
  </div>
  <!-- <div class="col-12 my-2">
    <button mat-raised-button color="primary">เพิ่มข้อมูล</button>
  </div> -->

  <div class="col-12 col-sm-6 m-0 p-0 mb-2">
    <div class="shadow-sm rounded-sm m-1 p-2 mb-1 h-100">
      <h4 class="text-primary">สถานะปัจจุบัน</h4>

      <small class="text-muted"
        >ข้อมูลตั้งแต่วันที่ : 16 เมษายน 2565 - 30 เมษายน 2565</small
      >
      <br />
      <div class="py-4">
        <h1 class="fw-bold">
          กำไรเพิ่มขึ้น
          <div>
            <mat-icon
              [ngClass]="{ green: percentage > 0, red: percentage < 0 }"
            >
              {{ percentage > 0 ? "arrow_upward" : "arrow_downward" }}
            </mat-icon>
            {{ percentage | number }}%
          </div>
        </h1>
      </div>
      <p class="m-0 p-0 text-primary">งบลงทุน</p>
      <small class="c-secound">10,000 บาท</small>
      <p class="m-0 p-0 text-primary">ยอดขายรวม</p>
      <small class="c-secound">10,000 บาท</small>

      <p class="m-0 p-0 text-primary">กำไรทั้งหมด</p>
      <small class="c-secound">10,000 บาท</small>

      <p class="m-0 p-0 text-primary">จำนวนเงินที่จ่ายไป</p>
      <small class="c-secound">10,000 บาท</small>
    </div>
  </div>
  <div class="col-12 col-sm-6 m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-sm-6 col-12 m-0 p-0">
        <div class="shadow-sm rounded-sm m-1 p-2 mb-1">
          <h4 class="m-0 p-0 pb-1 text-primary">ต้นทุนสินค้า</h4>
          <small>ข้อมูลล่าสุด : 30 เมษายน 2565</small>
          <hr class="m-0 p-0 my-2 text-muted" />
          <h3>35.k / บาท</h3>
        </div>
      </div>
      <div class="col-sm-6 col-12 m-0 p-0">
        <div class="shadow-sm rounded-sm m-1 p-2 mb-1 bg-primary text-white">
          <h4 class="m-0 p-0 pb-1">ค่าจัดส่ง</h4>
          <small>ข้อมูลล่าสุด : 30 เมษายน 2565</small>
          <hr class="m-0 p-0 my-2 text-muted" />
          <h3>35.k / บาท</h3>
        </div>
      </div>
      <div class="col-sm-12 col-12 m-0 p-0">
        <div class="shadow-sm rounded-sm m-1 p-2 mb-1">
          <h4 class="m-0 p-0 pb-1 text-primary">ค่าโฆษณา</h4>
          <small>ข้อมูลล่าสุด : 30 เมษายน 2565</small>
          <hr class="m-0 p-0 my-2 text-muted" />
          <h3>35.k / บาท</h3>
        </div>
      </div>
    </div>

    <div class="row m-0 p-0">
      <div class="col-sm-6 col-12 m-0 p-0">
        <div class="shadow-sm rounded-sm m-1 p-2 mb-1">
          <h4 class="m-0 p-0 pb-1 text-primary">เก็บเงินปลายทาง</h4>

          <h6>35.k / บาท</h6>
        </div>
      </div>

      <div class="col-sm-6 col-12 m-0 p-0">
        <div class="shadow-sm rounded-sm m-1 p-2 mb-1">
          <h4 class="m-0 p-0 pb-1 text-primary">คงค้าง</h4>

          <h6>35.k / บาท</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-12 m-0 p-0">
      <div class="shadow-sm rounded-sm m-1 p-2 mb-1">
        <h4 class="m-0 p-0 pb-1 text-primary">จำนวนเงินในบัญชี</h4>

        <h6>35.k / บาท</h6>
      </div>
    </div>
  </div>
</div>
